<div>
  <form class="form-register-sign" *ngIf="!forgotClicked">
    <div class="modal-content bg-tumma-oma">
      <div class="modal-header">
        <h5 class="modal-title">Kirjaudu sisään, näet lisää!</h5>
        <button
          type="button"
          class="btn-close"
          (click)="close()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-4">
          <input
            type="email"
            class="form-control"
            id="floatingInput6"
            placeholder="name@example.com"
            #email
          />
          <label for="floatingInput6">Sähköposti</label>
        </div>
        <div class="form-floating mb-4">
          <input
            type="password"
            class="form-control"
            id="floatingInput7"
            placeholder="Salasana"
            #psw
          />
          <label for="floatingInput7">Salasana</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" />
          <label class="form-check-label" for="gridCheck1">
            <p>Muista minut</p>
          </label>
        </div>
        <div class="form-floating mb-4" (click)="forgotPassword()">
          <p id="forgotpsw">Unohtuiko salasana?</p>
        </div>
        <div class="form-floating mb-4" [hidden]="!error">
          <p style="color: red;">{{ errorMsg }}</p>
        </div>
        <div class="form-floating mb-4">
          <a class="google btn" (click)="signInWithGoogle()"
            ><img
              src="../../../../assets/logos/btn_google_signin_dark_normal_web.png"
              alt="Google sign in"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary float-end"
          (click)="signIn(email.value, psw.value)"
        >
          Kirjaudu
        </button>
      </div>
    </div>
  </form>
  <form class="form-register-sign" *ngIf="forgotClicked">
    <div class="modal-content bg-tumma-oma">
      <div class="modal-header">
        <h5 class="modal-title">
          Anna sähköpostiosoite, lähetämme sinne salasanan nollauslinkin
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="close()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-4">
          <input
            type="email"
            class="form-control"
            id="floatingInput6"
            placeholder="name@example.com"
            #emailForgot
          />
          <label for="floatingInput6">Sähköposti</label>
        </div>
        <button
          type="button"
          class="btn btn-primary float-end"
          (click)="handleForgotPassword(emailForgot.value)"
        >
          Lähetä
        </button>
      </div>
    </div>
  </form>
</div>
