<div class="container-fluid-lg">
  <div class="p-4 p-md-5 mb-4">
    <div class="col-md-6 px-0">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1 class="display-4 fst-italic">PARHAIMMAT AIKAKAUSLEHDET</h1>
            <p class="lead my-3">
              Pääset lukemaan aikakauslehtiä ajasta riippumatta. Voit irtisanoa
              tilauksen ajasta riippumatta
            </p>
            <p class="card-text">
              Haluatko aloittaa lukemaan parhaimpia aikakauslehtiä? Kirjoita
              sähköpostiosoitteesi luo uusi tili tai käynnistä tilauksesi
              uudelleen
            </p>
          </div>

          <div class="carousel-item">
            <h1 class="display-4 fst-italic">PARHAIMMAT AIKAKAUSLEHDET</h1>
            <p class="lead my-3">
              Pääset lukemaan aikakauslehtiä ajasta riippumatta. Voit irtisanoa
              tilauksen ajasta riippumatta
            </p>
            <p class="card-text">
              Haluatko aloittaa lukemaan parhaimpia aikakauslehtiä? Kirjoita
              sähköpostiosoitteesi luo uusi tili tai käynnistä tilauksesi
              uudelleen
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />
</div>
