<div class="my-overlay white-border rounded-top" (mouseover)="mouseOver()" (mouseleave)="mouseLeave()">
  <div class="card bg-transparent stack-top">
    <div class="container g-0">
      <a (click)="onSelect(article)" routerLinkActive="active">
        <div class="row g-0">
          <img [src]="article.fileUrl" class="front-page-image rounded" alt="{{ article.name }}" />
        </div>
      </a>
      <div *ngIf="router.url === '/frontpage'">
        <div *ngIf="!owned" class="bottom-right">
          <a *ngIf="!inCart" class="bi bi-bag-plus rounded-circle" (click)="addToCart()"></a>
          <a *ngIf="inCart" class="bi bi-bag-dash rounded-circle" (click)="removeFromCart()"></a>
        </div>
        <div *ngIf="owned" class="bottom-right">
          <i class="bi bi-bag-check rounded-circle-bought"></i>
        </div>
      </div>
    </div>

    <div [hidden]="hover">
      <ul class="ul-no-bullets">
        <li>
          <a (click)="onSelect(article)" routerLinkActive="active" class="article-name-modal-show">
            {{ article.name }}
          </a>
        </li>
        <li>
          <a class="article-info" (click)="onSelectMagazine(article.magazine.key)" routerLinkActive="active">Ilmestyy
            lehdessä: {{ article.magazine.name }}</a>
        </li>
        <li>
          <a class="article-info" (click)="onSelectJournalist(article.journalist.key)"
            routerLinkActive="active">Toimittaja: {{ article.journalist.name }}</a>
        </li>
        <li>
          <p class="text-muted article-info">
            {{ article.date.day }}/{{ article.date.month }}/{{
              article.date.year
            }}
          </p>
        </li>
      </ul>
    </div>
    <div [hidden]="!hover">
      <ul class="ul-no-bullets">
        <li>
          <a (click)="onSelect(article)" routerLinkActive="active" class="article-name-modal-show">
            {{ article.name }}
          </a>
        </li>
        <li>
          <a class="article-info" (click)="onSelectMagazine(article.magazine.key)" routerLinkActive="active">Ilmestyy
            lehdessä: {{ article.magazine.name }}</a>
        </li>
        <li>
          <a class="article-info" (click)="onSelectJournalist(article.journalist.key)"
            routerLinkActive="active">Toimittaja: {{ article.journalist.name }}</a>
        </li>
        <li>
          <p class="text-muted article-info">
            {{ article.date.day }}/{{ article.date.month }}/{{
              article.date.year
            }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
