<div
  class="my-overlay white-border rounded-top"
  style="max-width: 36vh;"
  (mouseover)="mouseOver()"
  (mouseleave)="mouseLeave()"
>
  <div class="card bg-transparent">
    <div class="container g-0">
      <a (click)="onSelect(article)" routerLinkActive="active">
        <div class="row g-0">
          <img
            [src]="article.fileUrl"
            class="front-page-image"
            alt="{{ article.name }}"
          />
        </div>
      </a>
      <div
        *ngIf="router.url === '/frontpage'"
        class="row justify-content-between bottom-right"
      >
        <div class="col-md-6 card-padding">
          <div class="add-padding-right" *ngIf="!owned">
            <a
              title="{{ 'preview.addToCart' | translate }}"
              *ngIf="!inCart"
              class="bi bi-bag-plus rounded-circle"
              (click)="addToCart()"
            ></a>
            <a
              title="{{ 'preview.removeFromCart' | translate }}"
              *ngIf="inCart"
              class="bi bi-bag-dash rounded-circle"
              (click)="removeFromCart()"
            ></a>
          </div>
          <div class="add-padding-right" *ngIf="owned">
            <i class="bi bi-bag-check rounded-circle-bought" *ngIf="owned"></i>
          </div>
          <div *ngIf="!favourite">
            <a
              class="bi bi-heart rounded-circle"
              (click)="like()"
              title="{{ 'preview.addToFavs' | translate }}"
            ></a>
          </div>
          <div *ngIf="favourite">
            <a
              class="bi bi-heart-fill rounded-circle"
              (click)="unlike()"
              title="{{ 'preview.removeFromFavs' | translate }}"
            ></a>
          </div>
        </div>
        <div *ngIf="owned" class="bottom-right"></div>
      </div>
    </div>

    <div [hidden]="hover">
      <ul class="ul-no-bullets">
        <li>
          <a
            (click)="onSelect(article)"
            routerLinkActive="active"
            class="article-name-modal-show"
          >
            {{ article.name }}
          </a>
        </li>
        <li>
          <a
            class="article-info"
            (click)="onSelectMagazine(article.magazine.key)"
            routerLinkActive="active"
            >{{ 'common.publishedIn' | translate }}:
            {{ article.magazine.name }}</a
          >
        </li>
        <li>
          <a
            class="article-info"
            (click)="onSelectJournalist(article.journalist.key)"
            routerLinkActive="active"
            >{{ 'common.journalist' | translate }}:
            {{ article.journalist.name }}</a
          >
        </li>
        <li>
          <p class="text-muted article-info" *ngIf="language === 'en'">
            {{ article.date.month }}/{{ article.date.day }}/{{
              article.date.year
            }}
          </p>
          <p class="text-muted article-info" *ngIf="language !== 'en'">
            {{ article.date.day }}/{{ article.date.month }}/{{
              article.date.year
            }}
          </p>
        </li>
      </ul>
    </div>
    <div [hidden]="!hover">
      <ul class="ul-no-bullets">
        <li>
          <a
            (click)="onSelect(article)"
            routerLinkActive="active"
            class="article-name-modal-show"
          >
            {{ article.name }}
          </a>
        </li>
        <li>
          <a
            class="article-info"
            (click)="onSelectMagazine(article.magazine.key)"
            routerLinkActive="active"
            >{{ 'common.publishedIn' | translate }}:
            {{ article.magazine.name }}</a
          >
        </li>
        <li>
          <a
            class="article-info"
            (click)="onSelectJournalist(article.journalist.key)"
            routerLinkActive="active"
            >{{ 'common.journalist' | translate }}:
            {{ article.journalist.name }}</a
          >
        </li>
        <li>
          <p class="text-muted article-info" *ngIf="language === 'en'">
            {{ article.date.month }}/{{ article.date.day }}/{{
              article.date.year
            }}
          </p>
          <p class="text-muted article-info" *ngIf="language !== 'en'">
            {{ article.date.day }}/{{ article.date.month }}/{{
              article.date.year
            }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
