<div class="container-fluid" style="padding-top: 72.8px">
  <div class="helluva-lot-padding">
    <h3>Asetukset</h3>
    <div class="background-is-fun rounded" *ngIf="user">
      <div class="d-flex justify-content-start">
        <i class="bi bi-person padding-frontpage" style="font-size: 1.2em"></i>
        <h4>Tili</h4>
      </div>
      <div class="d-flex justify-content-between settings-padding-top">
        <small>Sähköpostiosoite</small>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <i
            class="bi bi-envelope padding-frontpage"
            style="font-size: 1.2em"
          ></i>
          <p>{{ user.email }}</p>
        </div>
        <a (click)="openEmailChangeModal()"><i class="bi bi-gear padding-frontpage" style="font-size: 1.5em"></i></a>
      </div>
      <div class="d-flex justify-content-between settings-padding-top">
        <small>Nimi</small>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <i class="bi bi-fonts padding-frontpage" style="font-size: 1.2em"></i>
          <p>{{ user.displayName }}</p>
        </div>
        <a (click)="openNameChangeModal()"><i class="bi bi-gear padding-frontpage" style="font-size: 1.5em"></i></a>
      </div>
      <div class="d-flex justify-content-between settings-padding-top">
        <small>Salasana</small>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <i class="bi bi-lock padding-frontpage" style="font-size: 1.2em"></i>
          <p>********</p>
        </div>
        <a (click)="openPasswordChangeModal()"><i class="bi bi-gear padding-frontpage" style="font-size: 1.5em"></i></a>
      </div>
      <div class="d-flex justify-content-between settings-padding-top">
        <div class="d-flex justify-content-start">
          <small>Poista tili</small>
        </div>
        <a (click)="openRemoveAccountConfirmation()"><i class="bi bi-trash padding-frontpage" style="font-size: 1.5em"></i></a>
      </div>
    </div>
    <div
      class="background-is-fun rounded settings-margin-top"
      *ngIf="ownedArticles.length > 0"
    >
      <h4>Ostohistoria</h4>
      <div *ngFor="let o of ownedArticles" class="settings-padding-top">
        <div class="d-flex justify-content-between">
          <small>Ostos</small>
        </div>
        <div class="d-flex justify-content-between">
          <p>{{ getArticleName(o.key) }}</p>
          <div class="d-flex justify-content-end">
            <i class="padding-frontpage">{{ setDate(o.time!) }}</i>
            <small>1.99€</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
