<div *ngIf="user" class="container-fluid" style="padding-top: 72.8px">
  <div class="helluva-lot-padding">
    <h3>Asetukset</h3>
    <div class="background-is-fun rounded">
      <h4>Tili</h4>
      <div class="d-flex justify-content-between settings-padding-top">
        <small>Sähköpostiosoite</small>
      </div>
      <div class="d-flex justify-content-between">
        <p>{{ user.email }}</p>
        <a><i>Vaihda</i></a>
      </div>
      <div class="d-flex justify-content-between settings-padding-top">
        <small>Nimi</small>
      </div>
      <div class="d-flex justify-content-between">
        <p>{{ user.displayName }}</p>
        <a><i>Vaihda</i></a>
      </div>
      <div class="d-flex justify-content-between settings-padding-top">
        <small>Salasana</small>
      </div>
      <div class="d-flex justify-content-between">
        <p>********</p>
        <a><i>Vaihda</i></a>
      </div>
    </div>
    <div class="background-is-fun rounded settings-margin-top">
      <h4>Ostohistoria</h4>
      <div class="d-flex justify-content-between settings-padding-top">
        <small>Ostos</small>
      </div>
      <div class="d-flex justify-content-between">
        <p>lehti</p>
        <i>päivämäärä</i>
      </div>
    </div>
  </div>
</div>
