<div class="container-fluid padding-top">
  <div class="row" *ngIf="journalist">
    <div class="col-6 center-magazine-journalist">
      <div
        class="center-overlay-mag-jour"
        (mouseover)="mouseOver()"
        (mouseleave)="mouseLeave()"
      >
        <img
          [src]="journalist.fileUrl"
          class="fit-image rounded img-hover"
          alt="{{ journalist.name }}"
          [ngStyle]="{ 'height.px': height, 'width.px': width }"
        />
        <div class="center-hidden-overlay"><p>paskaa</p></div>
      </div>
    </div>
    <div class="col-sm center-magazine-journalist">
      <h3 class="padding-bottom">
        <u>{{ journalist.name }}</u>
      </h3>
      <p>{{ journalist.info }}</p>
    </div>
    <div class="col-sm center-magazine-journalist">
      <h5 class="padding-bottom-top">
        <u>{{ 'common.genres' | translate }}</u>
      </h5>
      <div *ngFor="let genre of journalist.genres">
        <i>
          <p>{{ genre }}</p>
        </i>
      </div>
      <h5 class="padding-bottom-top">
        <u>{{ 'common.magazines' | translate }}</u>
      </h5>
      <div *ngFor="let m of journalist.magazines">
        <p>
          <i
            ><a class="hover-link" (click)="goToMagazinePage(m)">
              {{ getMagazine(m) }}</a
            ></i
          >
        </p>
      </div>
      <h5 class="padding-bottom-top">
        <u>{{ 'common.birthday' | translate }}</u>
      </h5>
      <p>
        {{ journalist.dateofbirth.day }}/{{ journalist.dateofbirth.month }}/{{
          journalist.dateofbirth.year
        }}
      </p>
    </div>
  </div>
  <div *ngIf="!journalist">
    <p>{{ 'common.loading' | translate }}</p>
  </div>
</div>
