<div>
  <logged-in-carousel [carouselArray]="carouselEntityList"></logged-in-carousel>
  <div style="padding-top: 12.8px">
    <div class="small-padding">
      <h5>Hei {{ username }}, mitä tänään luettaisiin?</h5>
    </div>
    <div *ngIf="isLogged">
      <div *ngFor="let g of genreArray">
        <div class="small-padding">
          <h5>{{ g }}:</h5>
        </div>
        <title-carousel
          [articleList]="getGenreArticles(articleList, g)"
          [favouriteList]="favouriteArticlesList"
        ></title-carousel>
      </div>
    </div>
  </div>
</div>
