<div>
  <carousel [carouselArray]="carouselEntityList"></carousel>
  <div class="container-fluid" style="padding-top: 12.8px">
    <h4>Hei {{ username }}, mitä tänään luettaisiin?</h4>
    <hr class="featurette-divider" />
    <div *ngIf="isLogged">
      <div *ngFor="let g of genreArray" class="row">
        <h4>{{ g }}</h4>
        <div
          *ngFor="let a of getGenreArticles(articleList, g)"
          class="col-sm-3"
        >
          <preview
            [article]="a"
            (selectedArticle)="onSelect($event)"
            [owned]="onSelectCheckIfOwned(a)"
          ></preview>
        </div>
      </div>
    </div>
  </div>
</div>
