<div>
  <logged-in-carousel [carouselArray]="carouselEntityList"></logged-in-carousel>
  <div style="padding-top: 12.8px">
    <div class="small-padding d-flex justify-content-between">
      <h5>
        {{ 'frontpage.hello' | translate }} {{ username
        }}{{ 'frontpage.whatToRead' | translate }}
      </h5>
      <div class="padding-right">
        <a (click)="showHideFilters()">
          <small *ngIf="showFilters" style="padding-right: 4px"
            >Piilota filtterit</small
          >
          <small *ngIf="!showFilters" style="padding-right: 4px"
            >Näytä filtterit</small
          >
        </a>
      </div>
    </div>
    <div *ngIf="isLogged">
      <div *ngIf="showFilters" class="d-flex justify-content-between filters">
        <div class="d-flex">
          <small class="align-self-center padding-frontpage"
            >Poista genre</small
          >
          <ng-select
            [items]="genreArray"
            [(ngModel)]="filterByGenre"
            (add)="filterGenre()"
            (clear)="resetGenreFilters()"
            (remove)="backToGenre($event)"
            [multiple]="true"
            class="select-filter"
          ></ng-select>
        </div>
        <div class="d-flex input">
          <small class="align-self-center padding-frontpage">Näytä lehti</small>
          <ng-select
            [items]="magazineList"
            [(ngModel)]="filterMagazineName"
            (add)="filterMagazine()"
            (clear)="resetArticleFilters()"
            (remove)="backToMagazine($event)"
            [multiple]="true"
            bindLabel="name"
            bindValue="name"
            class="select-filter"
          ></ng-select>
        </div>
        <div class="input">
          <button
            type="submit"
            class="btn btn-primary float-end"
            (click)="resetFilters()"
          >
            Nollaa
          </button>
        </div>
      </div>
      <div *ngFor="let g of genreArray">
        <div class="small-padding">
          <h5>{{ g | translate }}:</h5>
        </div>
        <title-carousel
          [articleList]="getGenreArticles(filteredArticleList, g)"
          [favouriteList]="favouriteArticlesList"
          [ownedArticlesList]="ownedArticlesList"
        ></title-carousel>
      </div>
    </div>
  </div>
</div>
