<nav>
  <div class="bg-tumma-oma justify-content-between">
    <div class="container-fluid">
      <div class="float-left navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink="/frontpage" routerLinkActive="active">
          <img src="../../../../assets/logos/Asset 2@2x.png" class="logo-img" alt="AIKA LOGO" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="logo-text">
              <h2>AIKA</h2>
            </li>
            <li class="nav-item hover-nav">
              <a class="nav-link text-white" aria-current="page" href="aikaoyab.html"><i
                  class="bi bi-house"></i>Etusivu</a>
            </li>
            <li class="nav-item hover-nav">
              <a class="nav-link text-white" href="aikaoyablehdet.html"><i class="bi bi-book"></i>Aikakauslehdet</a>
            </li>
            <li class="nav-item hover-nav" *ngIf="isLogged">
              <a class="nav-link text-white" href="#"><i class="bi bi-book-half"></i>Blogit</a>
            </li>
            <li class="nav-item hover-nav" *ngIf="isLogged">
              <a class="nav-link text-white" href="aikaoyabtuki.html"><i class="bi bi-question-circle"></i>Tuki</a>
            </li>
          </ul>
          <form class="d-flex search-box" *ngIf="isLogged">
            <input class="form-control-sm me-2 search-box-input" type="search" placeholder="Hae" aria-label="Search" />
            <button id="search-box-btn" type="button" class="btn">
              <i class="bi bi-search"></i>
            </button>
          </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLogged">
            <li class="nav-item hover-nav">
              <a class="nav-link text-white" href="#">
                <i class="bi bi-bag-plus"></i>
                Tilaa
              </a>
            </li>
          </ul>
        </div>
        <div class="dropdown navbar-nav me-auto mb-2 mb-lg-0 float-right hover-nav">
          <a class="nav-link omasivunappi text-white bg-tumma-oma force-row" id="navbarScrollingDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
            <span *ngIf="isLogged">
              <p>{{ username }}</p>
            </span>
            <span *ngIf="!isLogged">Kirjadu</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="navbarScrollingDropdown">
            <div *ngIf="!isLogged">
              <li>
                <button type="button" class="dropdown-item kirjaudu" (click)="openSignIn()">
                  <i class="bi bi-door-open"></i>Kirjaudu
                </button>
              </li>

              <li>
                <button type="button" class="rekisteri dropdown-item" (click)="openSignUp()">
                  <i class="bi bi-door-closed"></i>Rekisteröidy
                </button>
              </li>
            </div>
            <div *ngIf="isLogged">
              <li>
                <button type="button" class="dropdown-item kirjaudu" (click)="logout()">
                  <i class="bi bi-door-open"></i>Kirjaudu Ulos
                </button>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item kolmedropdown" href="#"><i class="bi bi-heart"></i>Suosikit</a>
              </li>
              <li>
                <a class="dropdown-item kolmedropdown" href="#"><i class="bi bi-bag"></i>Ostoskori</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item kolmedropdown" href="#"><i class="bi bi-info-circle"></i>Ohjeita</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
