<footer class="text-center text-lg-start alaotsikko">
  <hr />
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Tilaa uutiskirje</h5>

        <form class="row g-2">
          <div class="col-auto form-floating rounded-1">
            <input
              type="email"
              class="form-control form-control-sm mb-4"
              id="floatingInput5"
              placeholder="name@example.com"
            />
            <label for="floatingInput5">Sähköpostiosoite</label>
          </div>
          <div class="col-4 float-end">
            <button type="submit" class="btn uutiskirje mb-4 rounded-circle aaa" id="btnFinger">
              <i class="bi bi-hand-index"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Sosiaalinen media</h5>
        <p class="socialmediafooter">
          <a href="" class="me-4 text-reset">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="bi bi-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="bi bi-linkedin"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Tietoa</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
          ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
          repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
          sint!
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">LINKKI</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
          ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
          repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
          sint!
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-dark" href="aikaoyab.html"><p>aika.com</p></a>
    <small>© 2021-2022 design by Nuusa Solutions. All rights reserved.</small>
  </div>
</footer>
