<form class="form-register-sign">
  <div class="modal-content bg-tumma-oma">
    <div class="modal-header">
      <h5 class="modal-title" id="rekisteroidyLabel">Rekisteröidy</h5>
      <button
        type="button"
        class="btn-close"
        (click)="close()"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <form class="row g-3">
          <div class="form-floating mb-4">
            <input
              type="email"
              class="form-control"
              id="floatingInput2"
              placeholder="name@example.com"
              #email
              required
            />
            <label for="floatingInput2">Sähköposti</label>
          </div>
          <div class="form-floating mb-4">
            <input
              type="password"
              class="form-control"
              id="floatingInput3"
              placeholder="Salasana"
              #userPwd
              required
            />
            <label for="floatingInput3">Salasana</label>
          </div>
          <div class="form-floating mb-4">
            <input
              type="password"
              class="form-control"
              id="floatingInput4"
              placeholder="Salasana"
              #userPwdReEnter
              required
            />
            <label for="floatingInput3">Salasana uudelleen</label>
          </div>
          <div class="form-floating mb-4">
            <ul class="ul-no-bullets">
              <li>
                <i
                  >Salasanan tulee sisältää isoja ja pieniä kirjaimia, sekä
                  numeroita</i
                >
              </li>
              <li>
                <i>Salasanan tulee olla vähintään kahdeksan merkkiä pitkä</i>
              </li>
              <li>
                <i>Salasanassa ei saa olla tyhjiä välejä</i>
              </li>
            </ul>
          </div>

          <div class="form-floating mb-4">
            <a class="google btn" (click)="signInWithGoogle()"
              ><img
                src="../../../../assets/logos/btn_google_signin_dark_normal_web.png"
                alt="Google sign in"
                class="img-fluid"
              />
            </a>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary float-end"
              (click)="signUp(email.value, userPwd.value, userPwdReEnter.value)"
            >
              Rekisteröidy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</form>
