<div class="container zoom">
  <div class="card bg-transparent">
    <a (click)="onSelect(article)" routerLinkActive="active">
      <div class="my-overlay row">
        <img [src]="article.fileUrl" class="front-page-image" alt="..." />
        <h5 class="card-title">{{ article.name }}</h5>
      </div>
      <!-- <p class="card-text">{{ article.text.substring(0, 199) }}...</p> -->
      <small class="text-muted">{{ article.date.day }}/{{ article.date.month }}/{{
          article.date.year
        }}</small>
    </a>
  </div>
</div>
