<div class="container">
  <div class="card bg-transparent zoom">
    <a (click)="onSelect(article)" routerLinkActive="active">
      <div class="my-overlay">
        <img
          [src]="article.fileUrl"
          class="img-fluid rounded-3 front-page-image"
          alt="..."
        />
      </div>
      <h5 class="card-title">{{ article.name }}</h5>
      <!-- <p class="card-text">{{ article.text.substring(0, 199) }}...</p> -->
      <small class="text-muted"
        >{{ article.date.day }}/{{ article.date.month }}/{{
          article.date.year
        }}</small
      >
    </a>
  </div>
</div>
