:root {
  --bg: #17191c;
  --text: #faf0e6;
  --btn: #0f1122;
}

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'arial', 'lato';
}

.filters {
  background-color: rgba(23, 25, 28, 0.95);
  padding: 4vh;
  border: solid 1px var(--text);
  margin-top: 4vh;
  margin-left: 6.7vh;
  margin-right: 8vh;
}

.select-filter {
  color: var(--text);
  border: 1px solid white;
  padding: 0.2em;
  width: 50vh;
  border-radius: 0.2em;
}

.ng-value-container {
  overflow: hidden;
  height: 3vh;
}

.ng-value-label {
  padding-left: 0.2em;
}

.ng-value-icon {
  padding-left: 0.6em;
}

.ng-dropdown-panel {
  border: 1px solid white !important;
  margin-top: 0.5em;
  margin-left: -0.2em;
  padding: 1em;
  background-color: rgba(23, 25, 28, 0.95);
}

.ng-input>input {
  color: var(--text)!important;
}

.journalists {
  background-image: linear-gradient(to left, #1d1f4e, #151f43, #121e36, #141c29, #17191c);
}

.magazines {
  background-image: linear-gradient(to right, #1d1f4e, #151f43, #121e36, #141c29, #17191c);
}
.articles {
  background-color: #1d1f4e;
}

.search-overlay {
  filter: blur(0.3px) brightness(0.85) opacity(0.90) saturate(0.90) sepia(0.05);
}

.search-overlay:hover {
  outline: 0.25vh solid rgba(255, 255, 255, 0.55);
  filter: none;
}

.journalist-padding-bottom {
  padding-bottom: 1vh;
}

.border-right {
  border-right: 3px solid white;
}

.border-bottom {
  border-bottom: 3px solid white !important;
}

.border-top {
  border-top: 3px solid white !important;
}

.search-header {
  text-align: center;
  padding-bottom: 2vh;
  padding-top: 4vh;
  text-decoration: underline;
}

.helluva-lot-padding {
  padding-left: 40vh;
  padding-right: 40vh;
}

.settings-padding-top {
  padding-top: 6vh;
}

.settings-margin-top {
  margin-top: 10vh;
}

.fking-tiny {
  font-size: smaller;
}

.background-is-fun {
  padding: 5vh;
  background-color: rgba(255, 255, 255, 0.10);
}

.img-hover:hover {
  filter: blur(0.2px) brightness(0.95) opacity(0.95) saturate(0.95) sepia(0.05);
}

.img-hover:hover {
  filter: blur(3px) brightness(0.5) opacity(0.7) saturate(0.7) sepia(0.25);
}

.hover-link:hover {
  text-decoration: underline;
}

.fit-image {
  object-fit: cover;
}

.padding-top {
  padding-top: 11vh;
}

.center-magazine-journalist {
  margin: auto;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 4vh;
}

.center-hidden-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-overlay-mag-jour {
  width: auto;
  /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  position: relative;
}

h5 {
  margin-bottom: 0;
}

.padding-frontpage {
  padding-right: 1.5vh;
}

.padding-right {
  padding-right: 9vh;
}

.p-carousel .p-carousel-content .p-carousel-next {
  margin-left: -2rem !important;
  background-color: #faf0e6 !important;
}

.p-carousel .p-carousel-content .p-carousel-prev {
  margin-right: -2rem !important;
  background-color: #faf0e6 !important;
  z-index: 50;
}

.p-carousel .p-carousel-indicators {
  padding: 0rem !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator {
  margin-bottom: 0 !important;
  margin-right: 0.25rem !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 1rem !important;
  height: 0.25rem !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: rgba(90, 83, 83, 0.95) !important;
}

.p-carousel {
  padding: 0;
}

.p-carousel-items-content {
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
}

.p-carousel-content {
  padding: 0;
}

.p-carousel-container {
  padding: 0;
}

.p-carousel-items-content {
  overflow: visible;
  padding: 5vh;
}

.p-carousel {
  padding: 0;
}


.loader {
  border: 11px solid rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  border-top: 20px solid rgba(23, 25, 28, 0.95);
  border-bottom: 20px solid rgba(23, 25, 28, 0.95);
  width: 4em;
  height: 4em;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin .7s linear infinite;
  /* -webkit-animation: zoom 0.7s infinite;
  animation: zoom .7s infinite; */
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.25);
  }

  100% {
    -webkit-transform: scale(0.75);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(0.75);
  }
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway/Raleway-Medium.ttf) format("opentype");
}

p,
i,
small {
  color: var(--text);
}

p {
  margin-bottom: 0;
}

.ul-no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-bottom-top {
  padding-bottom: 1em;
  padding-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

td,
th {
  font-size: 0.8em;
  color: var(--text);
}

.logo-img {
  width: 1.5em;
}

.logo-text {
  padding-top: 0.5em;
  padding-right: 1em;
}

#closeButton:hover {
  background-color: black;
}

.btn-primary {
  background-color: rgb(20, 36, 100);
  border: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: var(--btn) !important;
  text-decoration: underline;
}

.btn-primary:disabled {
  background-color: rgb(112, 8, 8);
}

.bi-eye-slash-fill {
  padding: 17px;
  font-size: 1rem;
  color: black;
  background-color: #ced4da;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  border-start-start-radius: 0;
  border-bottom-left-radius: 0;
  border-left: white;
}

.bi-eye-slash-fill:hover {
  cursor: pointer;
}

.bi-eye-fill {
  padding: 17px;
  font-size: 1rem;
  color: black;
  background-color: #ced4da;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  border-start-start-radius: 0;
  border-bottom-left-radius: 0;
  border-left: white;
}

.bi-eye-fill:hover {
  cursor: pointer;
}

.form-control {
  border-end-end-radius: 0;
  border-top-right-radius: 0;
}

.form-control-custom {
  border-end-end-radius: 0.375em;
  border-top-right-radius: 0.375em;
}


.background-transparent {
  background-color: transparent;
}

.btn:hover {
  background: white;
}

.btn-primary:hover {
  background: white;
}

.btn-close {
  background-color: var(--text);
}

.modal-footer {
  border: 0px solid black;
}

.modal-header {
  border: 0px solid black;
}

.force-row {
  overflow: hidden;
  white-space: nowrap;
}

.my-overlay img {
  filter: blur(0.6px) brightness(0.95) opacity(0.965) saturate(0.91) sepia(0.08);
}

.my-overlay {
  padding: 0.5vh;
}

.darken-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-overlay img {
  filter: blur(0.2px) brightness(0.85) opacity(0.95) saturate(0.95) sepia(0.05);
}

#carousel p {
  font-size: larger;
}

.centered {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-padding {
  padding: 1em;
}

.add-padding-right {  
  padding-bottom: 1em;
}
.bi {
  font-size: 1.2em;
}

.bi-bag-plus {
  color: var(--text);
}

.bi-heart {
  color: var(--text);
}

.bi-heart-fill {
  color: var(--text);
}

.bi-bag-check {
  color: var(--text);
}

.bi-bag-dash {
  padding: 0.6em;
}

.bottom-right {
  position: absolute;
  top: 14%;
  right: 0%;
}

.rounded-circle {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  transition: background-color .3s;
}

.rounded-circle:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.rounded-circle2 {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.8em;
  transition: background-color .3s;
  border-radius: 50%;
}

.rounded-circle2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.rounded-circle-bought {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 50%;
}

.modal-content {
  background-color: transparent;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 1s;
  background-image: transparent;
}

@keyframes animatebottom {
  from {
    bottom: 0px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.zoom {
  transition: transform .6s;
}

.white-border {
  transition: transform .6s;
}

.zoom:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  background: var(--bg);
}

.white-border:hover {
  outline: 0.25vh solid rgba(255, 255, 255, 0.55);
}

.unzoom {
  -ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
}

.stack-top {
  z-index: 10;
}

.article-name {
  font-size: 1.1em;
  font-weight: bold;
}

.article-name-modal-show {
  font-weight: bold;
  font-size: 1em;
}

.article-info {
  font-size: 0.7em;
}

.hover-nav:hover {
  font-weight: bolder;
}

#my-overlay img:not(:hover) {
  filter: blur(1px) brightness(0.65) opacity(0.80) saturate(0.80) sepia(0.15);
}

.small-padding {
  padding-top: 1em;
  padding-left: 6.7vh;
}

.margin-left {
  margin-left: 6.7vh;
}

.container-fluid {
  width: 95%;
}

.img-fluid {
  padding: 0;
  margin: 0;
}

#forgotpsw:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.front-page-image {
  float: left;
  height: 18vh;
  object-fit: cover;
}

.search-page-image {
  height: 15vh;
  width: 15vh;
}

body {
  background-image: linear-gradient(to left, #1d1f4e, #151f43, #121e36, #141c29, #17191c);
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* background: linear-gradient(99deg, rgba(2, 0, 36, 1) 21%, rgba(93, 24, 62, 0.9839286056219363) 100%); */
}

.modal-footer button {
  /* background: rgb(93, 24, 62); */
  border: 0px solid black;
}

.my-overlay:hover img {
  filter: blur(0.0px) brightness(1.25) opacity(1) saturate(1) sepia(0.0);
}

.bg-oma-gradient {
  /* background: var(--bg); */
  background-color: rgba(0, 0, 0, 0.15);
  /* background: linear-gradient(99deg, rgba(2, 0, 36, 1) 21%, rgba(93, 24, 62, 0.9839286056219363) 100%); */
  /* background-image: linear-gradient(to left, #1d1f4e, #151f43, #121e36, #141c29, #17191c); */
}

.bg-tumma-oma {
  background: var(--bg);
}

.bg-tumma-oma-header {
  background: rgba(23, 25, 28, 0.01);
}

.active-header {
  background: rgba(23, 25, 28, 0.8);
  transition: background 1.3s;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text);
  cursor: pointer;
}

.text {
  text-align: justify-all left;
}

.center input,
button {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

.front-page-image {
  padding: 0;
  margin: 0;
}

/*HAMPURILAINEN VALIKKO*/

.navbar-toggler {
  border: none;
  float: left;

}

.navbar-toggler:hover {
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:visited {
  border: none;
  color: var(--text);

}

/*DROPDOWN*/

.nav-item {
  padding: 0.5em;
}

.margin-navbar {
  margin-right: 0.5em;
}

.margin-navbar-right {
  margin-right: 2em;
}

.dropdown {
  margin-right: -1.5em;
}

.bi-person {
  color: var(--text);
}

.kolmedropdown,
.kirjaudu,
.rekisteri {
  font-size: 0.75em;
  color: var(--text);
}


.kolmedropdown:hover,
.kirjaudu:hover,
.rekisteri:hover {
  background-color: rgba(23, 25, 28, 0.5);
  color: var(--text);
}


.dropdown-menu {
  border: none;
  background-color: rgba(23, 25, 28, 0.5);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--btn);
}

/*HAKU*/

.search-box {
  display: flex;
  background: var(--text);
  background-color: transparent;
  border-radius: 0em;
  margin-right: 10em;
}

.search-box-input {
  width: 0px;
  font-size: 1em;
  color: var(--text);
  border: 0px;
  transition: .5s;
  background-color: transparent;
}

.search-box-btn {
  display: flex;
  border-radius: 50%;
  background: var(--text);
  transition: .3s;
}

.bi-search {
  color: var(--text);
}

.search-box-input::placeholder {
  color: var(--text);
  opacity: .7;
}

.search-box:hover .search-box-input {
  padding-left: 2em;
  padding-right: 1em;
  border: 1px solid var(--text);
  width: 18em;
  background-color: rgba(23, 25, 28, 0.5);
}

.search-box-btn:active {
  transform: scale(.75);
}

.card {
  border: none;
}

.otsikonlinkki {
  color: var(--text);
}

.text-muted {
  margin-top: 1.8em;
  margin-right: 0.5em;
  float: right;
}

.star-wrapper {
  margin-top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  direction: rtl;
}

.star-wrapper a {
  font-size: 2em;
  color: grey;
  text-decoration: none;
  transition: all 0.5s;
  margin: 4px;
}

.star-wrapper a:hover {
  color: gold;
  transform: scale(1.3);
}

.s1:hover~a {
  color: gold;
}

.s2:hover~a {
  color: gold;
}

.s3:hover~a {
  color: gold;
}

.s4:hover~a {
  color: gold;
}

.s5:hover~a {
  color: gold;
}

.mitamielta {
  margin-right: 15px;
}

/*OMAT ASETUKSET*/

.col-5 {
  margin-top: 50px;
}

.omatasetukset {
  border: white;
  border-radius: 10px;
  background-color: slategrey;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

.asetuksetnavbar {
  margin-right: 30px;
}

.kokonavbar {
  margin-right: 10px;
  margin-top: 15px;
}

.tallennakortti {
  float: right;
  margin-top: 30px;
  border: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

/*ALAOTSKKO*/
.footer {
  padding-top: 6em;
  bottom: 0;
}

.uutiskirje {
  border: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
  background-color: var(--bg);
  color: white;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

.bi-hand-index {
  margin-left: 5px;
}

.uutislaheta {
  float: center;
  text-align: center;
}

/*MAKSULOMAKE*/

.bi-arrow-right-circle {
  float: right;
  margin-left: 20px;
}

.fa-cc-visa {
  font-size: 40px;
}

.fa-cc-mastercard {
  font-size: 40px;
  margin-left: 20px;
}

.fa-cc-paypal {
  font-size: 40px;
  margin-left: 20px;
  color: #3b7bbf;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .list-group-item,
  .keskella {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
  }

  .col-md-2 {
    display: none;
  }

  .star-wrapper {
    margin-top: 5%;
    left: 50%;
    font-size: 8px;
    transform: translate(-50%, -50%);
    position: absolute;
    direction: rtl;
  }

  .star-wrapper a {
    font-size: 2em;
    color: grey;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
  }

  .star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
  }

  .s1:hover~a {
    color: gold;
  }

  .s2:hover~a {
    color: gold;
  }

  .s3:hover~a {
    color: gold;
  }

  .s4:hover~a {
    color: gold;
  }

  .s5:hover~a {
    color: gold;
  }

  .uutiskirje {
    margin-right: -10px;

  }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

  .list-group-item,
  .keskella {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
  }

  .g-2 {
    margin-left: 5%;
  }

  .socialmediafooter {
    margin-left: 5%;
  }

  .uutiskirje {
    font-size: 25px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  .col-md-2 {
    display: none;
  }

  .col-sm-5 {
    width: 100%;
    margin: 10px;

  }

  .uutiskirje {
    margin-left: 75px;
  }
}

@media only screen and (min-device-width : 700px) and (max-device-width : 812px) {

  .tilaakirje {
    margin-left: 20%;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .col-md-2 {
    width: 30%;
    float: right;
    margin-left: 150px;
  }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .col-md-2 {
    width: 25%;
    float: right;
    margin-left: 150px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) and (orientation : portrait) {

  .col-md-2 {
    display: none;
  }

  .col-sm-5 {
    width: 100%;
    margin: 10px;
  }

  .g-2 {
    margin-left: 25%;
  }

  .siirraemail {
    width: 150%;
  }

  .uutiskirje {
    font-size: 25px;
  }

  .socialmediafooter {
    margin-left: 5%;
  }
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (min-resolution: 192dpi) {

  .col-md-2 {
    width: 30%;
    float: right;
    margin-left: 150px;
  }



  .siirraemail {
    width: 150%;
  }

  .uutiskirje {
    font-size: 25px;
  }



}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .col-md-2 {
    width: 30%;
    float: right;
    margin-left: 150px;
  }

  .g-2 {
    margin-left: -5px;
  }

  .siirraemail {
    width: 150%;
  }

  .siirty {
    width: 50%;

  }

  .uutiskirje {
    font-size: 25px;

  }

  .socialmediafooter {
    margin-left: -1px;
  }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .col-md-2 {
    width: 30%;
    float: right;
    margin-left: 150px;
  }
}

/* Retina displays ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-resolution: 192dpi) {
  .col-md-2 {
    width: 30%;
    float: right;
    margin-left: 150px;
  }
}